
#thermometer1 .goal1 {
    position: absolute;
   /* left: 0;*/
    top: 0;
}
#thermometer1 .amount1 {
  visibility : hidden;

    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
}
#thermometer1 .progress1 .amount1 {
     visibility : hidden;

    padding: 0 0 0 75px;
    position: absolute;
}
#thermometer1 {
    border-radius: 40px;
    height: 310px;
    margin-top:0px;
    position: relative;
}
#dd {
     height: 405px;
    left: 10px;
    margin: 0px auto;
    position: relative;
    
    width: 460px;
	border-width:5px;
/*border-style:solid;
 border-color:black ; 
 border-top-style:none ;*/
 background-image: url('te2.png');
	

	 background-repeat: no-repeat;
	background-position:  center;
	
	border-bottom-right-radius : 24px ;	
border-bottom-left-radius : 24px ;
}


#thermometer1 .track1 {
     height: 390px;
    left: 10px;
    margin: 0px auto;
    position: relative;
    top: 10px;
    width: 390px;
	border-width:5px;
/*border-style:solid;
 border-color:black ; 
 border-top-style:none ;
 background-image: url('te2.png');*/
	

	 background-repeat: no-repeat;
	background-position:  center;
	z-index: 1;
	
	border-bottom-right-radius : 24px ;	
border-bottom-left-radius : 24px ;
}
#thermometer1 .progress1 {
    background: blue none repeat scroll 0 0;
    	
		border-bottom-right-radius : 24px ;	
border-bottom-left-radius : 24px ;
    bottom: 10px;
    height: 0;
     opacity: 0.5;
    margin-bottom: 0 !important;
	margin-left:-10px;
    position: absolute;
    width: 400;
    z-index: 100;
}
#thermometer1 .goal1 {
    position: absolute;
    left: 0;
    top: 0;
}
#thermometer1.amount1 {
    color: #fdf51e;
    display: inline-block;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
	
}
#thermometer1 .progress1 .amount1 {
    color: #fdf51e;
    left: 24px;
    padding: 0 0 0 75px;
    position: absolute;
}
